@import './colors.scss';

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }

  .bd-#{$name} {
    border-color: $color;
  }
}

@function color($key) {
  @if not map-has-key($colors, $key) {
    @error "Key `#{$key}` not found in $colors map.";
  }

  @return map-get($colors, $key);
}

