@import './colors.scss';

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }

  .bg-#{$name} {
    background-color: $color;
  }

  .bd-#{$name} {
    border-style: solid;
    border-width: 5px;
    border-color: $color;
  }
}
